h1,button,h2,div{
    Border: 1px solid black
}

h1,h2{
    width: 200px;
}

button{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 13px 3px 30px gray; 
    font-size:  20px;
    padding: 20px;
    /* text-align: center; */ 
}

div{
    height: 200px;
    /* width: 200px; */
    background-color: rgb(146, 146, 233);
    overflow: scroll;
    border: 20px outset rgb(183, 14, 210);
    padding: 100px;
    padding-left: 100px;
    margin: 100px; 
    margin-top: 100px;
    /* border- radius: 50%; */ 

}

#like-btn{
    margin-right: 20px;
}

